---
import linkSvg from "../assets/link.svg";
export interface Props {
  projectName: string;
  img: string;
  link: string;
  description: string;
  techsClass: string[];
}

const { projectName, img, link, description, techsClass } = Astro.props;
---

<div class="w-96 m-2 p-2 border-b-2 border-current">
  <img
    src={img}
    class="rounded"
    width="384px"
    height="230px"
    alt={projectName}
  />
  <div class="flex justify-between items-center p-1">
    <h1 class="text-lg underline underline-offset-4">
      {projectName}
    </h1>
    <a
      href={link}
      target="_blank"
      class="p-1 hover:bg-white rounded hover:text-lg dark:bg-[#1c93dc] dark:hover:bg-white"
      ><img src={linkSvg} alt="link externo" width="20px" height="20px" /></a
    >
  </div>
  <p>{description}</p>
  <div class="flex">
    {
      techsClass.map((data) => (
        <div class="w-6 flex items-center justify-center">
          <i class={`${data} text-2xl hover:text-white`} />
        </div>
      ))
    }
  </div>
</div>
